/* @media screen and (min-width: 1900px) {
    .greet {
      transform: scale(1.25);
      transform-origin: center;
    }
    .cards {
        transform: scale(1.25);
        transform-origin: top center;
    }
    .result {
        transform: scale(1.2);
        transform-origin: top center;
    }
    .main-bottom {
        transform: scale(1.2);
        transform-origin: bottom center;
    }
} */

.main{
    flex: 1;
    min-height: 100vh;
    position: relative;
}

.main-container{
    max-width: 77.5vw;
    height: 100vh;
    margin: auto;
    padding-top: 2.5vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

.main-container .greet{
    margin-top: 6vh;
    font-size: 3.5rem;
    color: #c4c7c5;
    font-weight: 31.25rem;
    text-align: left;
}

.main-container .greet span{
    font-size: 4rem;
    background: -webkit-linear-gradient(16deg,#656e7f,#194b86);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-container .greet p{
    font-size: 3.15rem;
}

.main-container .cards{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    min-height: 28.3vh;
    gap: 1.25rem;
    flex: 1;
    align-self: center;
    justify-self: center;
    align-items: center;
    overflow-y: auto;
}

.main-container .cards div{
    display: inline-flex;
    gap: 1.25rem;
}

.main-container .cards div div{
    flex: 1;
    height: 12.5rem;
    width: 14rem;
    padding: 0.94rem;
    background-color: #f0f4f9;
    border-radius: 0.625rem;
    position: relative;
    cursor: pointer;
    background-position-x: center;
    background-position-y: 4.7rem;
    background-size: 50%;
    background-repeat: no-repeat;
}

.main-container .cards .card-UNEP {
    background-image: url('../assets/UNEP_icon.png');
}

.main-container .cards .card-WHO {
    background-image: url('../assets/WHO_icon.png');
}

.main-container .cards .card-UNDP {
    background-image: url('../assets/UN_icon.png');
}

.main-container .cards .card-DISEC {
    background-image: url('../assets/DISEC_icon.png');
}

.main-container .cards .card-african {
    background-image: url('../assets/african_union_icon.png');
}

.main-container .cards .card-ECOFIN {
    background-image: url('../assets/ECOFIN_icon.png');
}

.main-container .cards .card-UK {
    background-image: url('../assets/UK_parliament_icon.png');
}

.main-container .cards .card-ITU {
    background-image: url('../assets/ITU_icon.png');
}

.main-container .cards .card-KoreanWar {
    background-image: url('../assets/kWar_icon.png');
}

.main-container .cards .card-LOTR {
    background-image: url('../assets/LOTR_icon.png');
}

.main-container .cards div div img{
    width: 5vh;
    padding: 0.3rem;
    position: absolute;
    background-color: white;
    border-radius:3.125rem;
    bottom: 0.625rem;
    right: 0.625rem;
}

.main-container .cards div div p{
    color: #585858;
    font-size: 1.125rem;
}

.main-container .cards div div:hover{
    background-color: #dfe4ea;
}

.disclaimer{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 57.5vw;
    padding-bottom: 10px;
    text-align: center;
}

.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 77.5vw;
    padding: 0rem 1.25rem;
    margin: auto;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    background-color: #f0f4f9;
    padding: 0.625rem 1.25rem;
    border-radius: 3.125rem;
}

.search-box img{
    width: 2vw;
    cursor: pointer;
}

.search-box textarea {
    flex: 1;
    resize: none;
    height: 4.4vh;
    max-height: 12.58vh;
    overflow-y: auto;
    background: transparent;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    font-family: inherit;
    line-height: 1;
}

.search-box div{
    display: flex;
    align-items: center;
    gap: 0.94rem;
}

.main-bottom .bottom-info{
    font-size: 0.81rem;
    margin: 0.94rem auto;
    text-align: center;
    font-weight: 300;
}

.result {
    padding: 0rem;
    width: 100%;
    max-height: 80vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-user{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.result img{
    width: 2.5rem;
    border-radius: 50%;
}

.result-message{
    display: flex;
    margin: 1.875rem 0rem;
    align-items: start;
    gap: 1.25rem;
}

.result-message p{
    font-size: 1.06rem;
    font-weight: 300;
    line-height: 1.8;
}

github-md {
    display: block;
    max-width: 92.5%;
}